<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger"
	(click)="openModal()">Storico</a>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal"
	[materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalActions">
	<div class="modal-content">
		<h4>Storico</h4>
		<app-datatable [dataset]="audits"> <app-datacolumn
			[value]="'id'" [header]="'Id'" style="width:20%;"></app-datacolumn> <app-datacolumn
			[value]="'username'" [header]="'Utente'" style="width:40%;"></app-datacolumn>
		<app-datacolumn [value]="'revisionDate'" [header]="'Data'"
			style="width:40%;"></app-datacolumn> </app-datatable>
	</div>
	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Chiudi</a>
	</div>
</div>
