<div class="row">
	<form (submit)="submit()" [formGroup]="gruppoForm">
		<div class="card grey lighten-4">

			<div class="card-content">
				<span class="card-title">Dettaglio Gruppo</span>
				<div class="row">
					<div class="col s12">
						<div class="row">
							<div class="input-field col s6">
								<input
									[ngClass]="inputTemplateValidate(gruppoForm.controls.nome)"
									type="text" id="nome" formControlName="nome"> <label
									for="nome">Nome</label>
							</div>
							<div class="input-field col s6">
								<input
									[ngClass]="inputTemplateValidate(gruppoForm.controls.descrizione)"
									type="text" id="descrizione" formControlName="descrizione">
								<label for="descrizione">Descrizione</label>
							</div>
						</div>
						<div class="row" formGroupName="ruoli">
							<fieldset>
								<legend>Ruoli</legend>
							<p *ngFor="let ruolo of allRuoli">
						      <input type="checkbox" [id]="ruolo.ruoloId" [formControlName]="ruolo.ruoloId" />
						      <label [for]="ruolo.ruoloId">{{ruolo.ruoloJee}}</label>
						    </p>
						    </fieldset>
						</div>

						<div class="row">
							<div class="col s12 center-align">
								<button (click)="onReset()"
									class="waves-effect waves-light btn-large">Reset</button>
								<button [disabled]="!gruppoForm.valid" type="submit"
									class="waves-effect waves-light btn-large">Salva</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
