<footer class="page-footer">
<!-- 
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
 -->
          <div class="footer-copyright">
            <div class="container center-align">
            IN.VA. S.p.A. - Località L'Île-Blonde, 5 - 11020 Brissogne (AO) - Italy - P.I. e C.F.00521690073<br/>
			Cap. Soc. Euro 5.100.000,00 i.v. - Registro delle Imprese di Aosta n. AO - 46680<br/>
			Società soggetta all'attività di direzione e coordinamento da parte della Regione Autonoma Valle d'Aosta
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>